input{
    height:150px;
}

object{
    position:absolute;
    z-index:9999;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.container{
    position:absolute;
}